---
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <Navigation />
  </nav>
</header>

<style>
  nav {
    display: flex;
    gap: 0rem;
    margin-top: 2rem;
    width: fit-content;
    border: 0.1px solid red;
  }
</style>
